.nav-bar-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-navbar-interactive {
  width: 100%;
  height: 177px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.nav-bar-container1 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav-bar-container2 {
  gap: 30px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-image {
  width: 116px;
  height: 90px;
  object-fit: cover;
}
.nav-bar-image1 {
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.nav-bar-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 26px;
  font-family: "HighmanTrial-Regular";
}
.nav-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav-bar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-text01 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
}
.nav-bar-text02 {
  fill: #CC9282;
  color: rgb(204, 146, 130);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text03 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text04 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text07 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text08 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text09 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-login {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 20px;
  padding-top: 20px;
  border-color: var(--dl-color-base-white);
  border-width: 1px;
  margin-right: 0px;
  padding-left: 29px;
  border-radius: 10px;
  padding-right: 29px;
  padding-bottom: 20px;
  background-color: transparent;
}
.nav-bar-burger-menu {
  display: none;
}
.nav-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nav-bar-logo {
  height: 2rem;
}
.nav-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-bar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}


@media(max-width: 1200px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .nav-bar-desktop-menu {
    display: none;
  }
  .nav-bar-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .nav-bar-image {
    width: 61px;
    height: 46px;
  }
  .nav-bar-image1 {
    width: 42px;
    height: 42px;
  }
  .nav-bar-text {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-bar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .nav-bar-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .nav-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .nav-bar-mobile-menu {
    padding: 16px;
  }
}

.card1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  min-width: 396px;
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.12);
  min-height: 706px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF7E4;
}
.card1-image {
  width: 100%;
  height: 283px;
  object-fit: cover;
}
.card1-container1 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 427px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.card1-text {
  width: 100%;
  font-size: 26px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 30px;
}
.card1-text1 {
  width: 100%;
  height: 100%;
  font-size: 24px;
  max-width: 340px;
  font-style: normal;
  min-height: 300px;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 40px;
}



@media(max-width: 1200px) {
  .card1-container {
    width: 350px;
    height: auto;
    max-width: 396px;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.12);
    min-height: 706px;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFF7E4;
  }
  .card1-image {
    width: 100%;
    height: 283px;
  }
  .card1-container1 {
    gap: 32px;
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .card1-text {
    width: 100%;
    font-size: 26px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 30px;
  }
  .card1-text1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-style: normal;
    min-height: auto;
    font-family: Inter;
    font-weight: 500;
    line-height: 36px;
  }
  .card1-root-class-name {
    min-width: auto;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .card1-root-class-name1 {
    min-width: auto;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .card1-root-class-name2 {
    min-width: auto;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 991px) {
  .card1-container {
    width: auto;
  }
  .card1-root-class-name1 {
    left: 289px;
    bottom: 0px;
    position: static;
    align-self: flex-start;
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .card1-container {
    width: 317px;
    height: 394px;
    min-width: auto;
    min-height: 394px;
  }
  .card1-image {
    height: 214px;
  }
  .card1-container1 {
    gap: 6px;
    min-height: auto;
  }
  .card1-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .card1-text1 {
    height: auto;
    font-size: 12px;
    font-family: Poppins;
    line-height: 178.3%;
  }
  .card1-root-class-name {
    margin-bottom: 0px;
  }
  .card1-root-class-name1 {
    align-self: center;
    margin-top: 0px;
  }
  .card1-root-class-name2 {
    margin-bottom: 0px;
  }
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #374957;
}
.footer-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.footer-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 23, 42, 0.5);
}
.footer-container03 {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 104px;
  flex-direction: column;
  padding-bottom: 54px;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
  width: 100%;
  font-size: 56px;
  max-width: 1013px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 70px;
}
.footer-text01 {
  fill: #BBBBBB;
  color: #BBBBBB;
  width: 100%;
  font-size: 24px;
  max-width: 890px;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  line-height: 40px;
}
.footer-button {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 22px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 70px;
  border-radius: 10px;
  padding-right: 70px;
  padding-bottom: 20px;
  background-color: #CC9281;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 50px;
  justify-content: center;
}
.footer-container05 {
  gap: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container06 {
  gap: 78px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer-container07 {
  gap: 26px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 207px;
  height: 152px;
  object-fit: cover;
}
.footer-text02 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 392px;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 40px;
}
.footer-container08 {
  gap: 16px;
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text03 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-container09 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text04 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 69px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text05 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 69px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-text06 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 98px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-text07 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 98px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-container10 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text08 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-text09 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 160px;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text10 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 160px;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-text14 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: auto;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text17 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: auto;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-container12 {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-container13 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container14 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.footer-container15 {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}
.footer-text21 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.5%;
}
.footer-text22 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.5%;
}









@media(max-width: 1200px) {
  .footer-container04 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .footer-container06 {
    gap: var(--dl-space-space-threeunits);
  }
  .footer-container08 {
    width: auto;
  }
  .footer-container09 {
    width: auto;
  }
  .footer-container10 {
    width: auto;
  }
  .footer-container12 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .footer-container03 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .footer-text {
    font-size: 40px;
  }
  .footer-text01 {
    font-size: 20px;
  }
  .footer-container06 {
    flex-wrap: wrap;
  }
  .footer-container15 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer-text21 {
    font-size: 16px;
  }
  .footer-text22 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .footer-container03 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
  }
  .footer-text01 {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 181.4%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-bg {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}
.home-slider {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.home-slider-slide {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698778574083-279be0ac6681?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzU2N3w&ixlib=rb-4.0.3&q=80&w=1500');
}
.home-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=1500');
}
.home-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=1500');
}
.home-slider-slide3 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1530569673472-307dc017a82d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTIyNTQ5NHw&ixlib=rb-4.0.3&q=80&w=1500');
}
.home-slider-pagination {
  display: block;
}
.home-slider-button-prev {
  display: none;
}
.home-slider-button-next {
  display: none;
}
.home-tint {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1171px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 52px;
}
.home-caption {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 19px;
  max-width: 1171px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 36px;
}
.home-button {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  padding-top: 15px;
  border-width: 0px;
  padding-left: 40px;
  border-radius: 30px;
  padding-right: 40px;
  padding-bottom: 15px;
  background-color: rgb(204, 146, 129);
}
.home-image1 {
  width: 590px;
  height: 284px;
  object-fit: cover;
}
.home-container01 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #94895B;
}
.home-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1300px;
  max-height: auto;
  align-items: center;
  justify-content: space-between;
}
.home-text {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 420px;
  display: none;
  font-size: 72px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
.home-image2 {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.home-container03 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text01 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 420px;
  font-size: 72px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
.home-text02 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
  font-size: 28px;
  max-width: 100%;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 46px;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image3 {
  width: 574px;
  height: 639px;
  display: none;
  object-fit: cover;
}
.home-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 708px;
  height: 100%;
  display: flex;
  max-width: 625px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text03 {
  width: 633px;
  height: 119px;
  font-size: 72px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
.home-text08 {
  width: 100%;
  height: auto;
  font-size: 26px;
  max-width: 625px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 46px;
}
.home-image4 {
  width: 574px;
  height: 639px;
  object-fit: cover;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-container08 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-text12 {
  font-size: 36px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 830px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-image5 {
  width: 113px;
  height: 113px;
  object-fit: cover;
}
.home-image6 {
  width: 200px;
  object-fit: cover;
}
.home-image7 {
  width: 141px;
  height: 121px;
  object-fit: cover;
}
.home-image8 {
  width: 125px;
  height: 117px;
  object-fit: cover;
}
.home-container10 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #FFF7E4;
}
.home-container11 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1300px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text13 {
  font-size: 64px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 108px;
}
.home-container13 {
  width: 200px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #C95E34;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
}
.home-button1 {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 22px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 70px;
  border-radius: 10px;
  padding-right: 70px;
  padding-bottom: 20px;
  background-color: #CC9281;
}
@media(max-width: 1200px) {
  .home-hero-main {
    height: 828px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-center {
    gap: var(--dl-space-space-twounits);
  }
  .home-text {
    display: none;
  }
  .home-image2 {
    width: 45%;
  }
  .home-text02 {
    font-size: 24px;
  }
  .home-container05 {
    align-items: flex-start;
  }
  .home-image3 {
    width: 598px;
    height: 663px;
  }
  .home-container06 {
    width: auto;
    max-width: 500px;
  }
  .home-text03 {
    width: 521px;
    font-size: 60px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 108px;
  }
  .home-text08 {
    font-size: 20px;
    max-width: 100%;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 40px;
  }
  .home-image4 {
    width: 447px;
    height: 495px;
  }
  .home-container08 {
    gap: var(--dl-space-space-unit);
  }
  .home-container10 {
    padding: var(--dl-space-space-twounits);
  }
  .home-container11 {
    align-items: center;
    justify-content: center;
  }
  .home-container12 {
    align-items: center;
    justify-content: center;
  }
  .home-text13 {
    font-size: 64px;
    font-style: normal;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 108px;
  }
  .home-container13 {
    height: 5px;
    border-style: solid;
    border-width: 0px;
    background-color: #C95E34;
  }
  .home-container14 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .home-button1 {
    margin-top: 0px;
  }
}
@media(max-width: 991px) {
  .home-caption {
    max-width: 100%;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 32px;
  }
  .home-image1 {
    width: 317px;
    height: 152px;
  }
  .home-container02 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    display: flex;
  }
  .home-image2 {
    width: 100%;
    height: 683px;
  }
  .home-container03 {
    width: 100%;
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-text01 {
    display: none;
  }
  .home-text02 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 28px;
    max-width: auto;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 46px;
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
  .home-image3 {
    width: 447px;
    height: 495px;
    display: flex;
  }
  .home-container06 {
    max-width: 700px;
  }
  .home-text03 {
    width: 467px;
    font-size: 50px;
  }
  .home-text08 {
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 36px;
  }
  .home-image4 {
    width: 447px;
    height: 495px;
    display: none;
  }
  .home-container10 {
    padding: var(--dl-space-space-fiveunits);
  }
  .home-text13 {
    font-size: 50px;
  }
  .home-container14 {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .home-hero-main {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider-slide {
    width: 100%;
    height: 100%;
  }
  .home-center {
    height: 100%;
    padding-bottom: 0px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header {
    font-size: 26px;
    line-height: 56px;
  }
  .home-caption {
    font-size: 16px;
    max-width: 100%;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-image3 {
    display: flex;
  }
  .home-container06 {
    width: 100%;
    max-width: 100%;
  }
  .home-text03 {
    height: 84px;
  }
  .home-text08 {
    font-size: 18px;
  }
  .home-image4 {
    display: none;
  }
  .home-container09 {
    width: 100%;
  }
  .home-text13 {
    font-size: 32px;
    line-height: 60px;
  }
  .home-container13 {
    width: 50%;
  }
  .home-container14 {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    font-style: normal;
    font-weight: 800;
    line-height: 46px;
  }
  .home-caption {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 14px;
    max-width: 100%;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 27px;
  }
  .home-button {
    font-size: 12px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: rgb(204, 146, 129);
  }
  .home-image1 {
    width: 434px;
    height: 187px;
  }
  .home-container01 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text {
    color: var(--dl-color-gray-white);
    width: 191px;
    height: 54px;
    font-size: 32px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 32px;
  }
  .home-image2 {
    height: 169px;
  }
  .home-container03 {
    height: 142px;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text02 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 178.3%;
  }
  .home-container04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image3 {
    width: 80%;
    height: auto;
  }
  .home-text03 {
    width: 315px;
    height: 41px;
    font-size: 32px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    line-height: 125%;
  }
  .home-text08 {
    font-size: 12px;
    line-height: 178.3%;
  }
  .home-image4 {
    width: 383px;
    height: 424px;
  }
  .home-container07 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container08 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .home-text12 {
    font-size: 20px;
    line-height: 46px;
  }
  .home-image5 {
    width: 69px;
    height: 69px;
  }
  .home-image6 {
    width: 106px;
    height: 64px;
  }
  .home-image7 {
    width: 70px;
    height: 60px;
  }
  .home-image8 {
    width: 81px;
    height: 75px;
  }
}
