.nav-bar-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-navbar-interactive {
  width: 100%;
  height: 177px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.nav-bar-container1 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav-bar-container2 {
  gap: 30px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-image {
  width: 116px;
  height: 90px;
  object-fit: cover;
}
.nav-bar-image1 {
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.nav-bar-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 26px;
  font-family: "HighmanTrial-Regular";
}
.nav-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav-bar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-text01 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
}
.nav-bar-text02 {
  fill: #CC9282;
  color: rgb(204, 146, 130);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text03 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text04 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text07 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text08 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text09 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-login {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 20px;
  padding-top: 20px;
  border-color: var(--dl-color-base-white);
  border-width: 1px;
  margin-right: 0px;
  padding-left: 29px;
  border-radius: 10px;
  padding-right: 29px;
  padding-bottom: 20px;
  background-color: transparent;
}
.nav-bar-burger-menu {
  display: none;
}
.nav-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nav-bar-logo {
  height: 2rem;
}
.nav-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-bar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}


@media(max-width: 1200px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .nav-bar-desktop-menu {
    display: none;
  }
  .nav-bar-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .nav-bar-image {
    width: 61px;
    height: 46px;
  }
  .nav-bar-image1 {
    width: 42px;
    height: 42px;
  }
  .nav-bar-text {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-bar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .nav-bar-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .nav-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .nav-bar-mobile-menu {
    padding: 16px;
  }
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-container1 {
  gap: 142px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 51px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.header-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 88px;
}
.header-text1 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 27px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
}






@media(max-width: 991px) {
  .header-text {
    font-size: 50px;
  }
}
@media(max-width: 479px) {
  .header-container1 {
    gap: 80px;
  }
  .header-text {
    font-size: 26px;
  }
  .header-text1 {
    font-size: 14px;
  }
}

.tes-card-r-container {
  gap: 55px;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(131, 131, 131, 0.3);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
}
.tes-card-r-image {
  width: 510px;
  height: 676px;
  object-fit: cover;
}
.tes-card-r-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 664px;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-r-image1 {
  width: 200px;
  display: none;
  object-fit: cover;
}
.tes-card-r-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-r-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-r-text {
  fill: #CC9282;
  color: #CC9282;
  width: auto;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
}
.tes-card-r-text1 {
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -2%;
}
.tes-card-r-text2 {
  fill: #595B61;
  color: #595B61;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
}


@media(max-width: 1200px) {
  .tes-card-r-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tes-card-r-container1 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .tes-card-r-container {
    height: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 0px;
    border-top-width: 0px;
  }
  .tes-card-r-image {
    display: none;
  }
  .tes-card-r-container1 {
    gap: var(--dl-space-space-twounits);
    height: auto;
    align-items: center;
    padding-top: 24px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 37px;
    justify-content: center;
  }
  .tes-card-r-image1 {
    width: 100%;
    height: 412px;
    display: flex;
  }
  .tes-card-r-container3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .tes-card-r-text {
    font-size: 18px;
  }
  .tes-card-r-text1 {
    font-size: 32px;
    margin-top: -20px;
  }
  .tes-card-r-text2 {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
  }
}
@media(max-width: 767px) {
  .tes-card-r-image1 {
    height: 354px;
  }
}
@media(max-width: 479px) {
  .tes-card-r-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tes-card-r-container1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .tes-card-r-image1 {
    width: 100%;
    height: 354px;
  }
  .tes-card-r-text {
    font-size: 12px;
    line-height: 125%;
  }
  .tes-card-r-text1 {
    font-size: 18px;
    text-align: left;
    line-height: 125%;
  }
  .tes-card-r-text2 {
    font-size: 12px;
    line-height: 178%;
  }
}

.tes-card-l-container {
  gap: 55px;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(131, 131, 131, 0.3);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
}
.tes-card-l-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 664px;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-l-image {
  width: 200px;
  display: none;
  object-fit: cover;
}
.tes-card-l-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-l-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.tes-card-l-text {
  fill: #CC9282;
  color: #CC9282;
  width: auto;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
}
.tes-card-l-text1 {
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -2%;
}
.tes-card-l-text2 {
  fill: #595B61;
  color: #595B61;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
}
.tes-card-l-image1 {
  width: 510px;
  height: 676px;
  object-fit: cover;
}

@media(max-width: 1200px) {
  .tes-card-l-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tes-card-l-container1 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .tes-card-l-container {
    height: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 0px;
    border-top-width: 0px;
  }
  .tes-card-l-container1 {
    gap: var(--dl-space-space-twounits);
    height: auto;
    align-items: center;
    padding-top: 24px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 37px;
    justify-content: center;
  }
  .tes-card-l-image {
    width: 100%;
    height: 412px;
    display: flex;
  }
  .tes-card-l-container3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .tes-card-l-text {
    font-size: 18px;
  }
  .tes-card-l-text1 {
    font-size: 32px;
    margin-top: -20px;
  }
  .tes-card-l-text2 {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
  }
  .tes-card-l-image1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .tes-card-l-image {
    height: 354px;
  }
}
@media(max-width: 479px) {
  .tes-card-l-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tes-card-l-container1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .tes-card-l-image {
    width: 100%;
    height: 354px;
  }
  .tes-card-l-text {
    font-size: 12px;
    line-height: 125%;
  }
  .tes-card-l-text1 {
    font-size: 18px;
    text-align: left;
    line-height: 125%;
  }
  .tes-card-l-text2 {
    font-size: 12px;
    line-height: 178%;
  }
}

.button-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 20px;
  padding-left: 70px;
  border-radius: 10px;
  padding-right: 70px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #CC9281;
}
.button-text {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
}






@media(max-width: 991px) {
  .button-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .button-text {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .button-container {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  .button-text {
    font-size: 12px;
  }
}

.pre-footer-container {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #543653;
}
.pre-footer-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 56px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 70px;
}
.pre-footer-text1 {
  fill: #E2E8F0;
  color: #E2E8F0;
  font-size: 24px;
  max-width: 1000px;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  line-height: 40px;
}
.pre-footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1082px;
  margin-top: var(--dl-space-space-fourunits);
  min-height: 199px;
  align-items: center;
  border-radius: 33px;
  justify-content: space-between;
  background-color: var(--dl-color-base-white);
}
.pre-footer-container2 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  justify-content: center;
}
.pre-footer-text2 {
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -2%;
}
.pre-footer-container3 {
  flex: 0 0 auto;
  width: 700px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pre-footer-image {
  width: 108px;
  height: 108px;
  object-fit: cover;
}
.pre-footer-image1 {
  width: 163px;
  height: 99px;
  object-fit: cover;
}
.pre-footer-image2 {
  width: 119px;
  height: 102px;
  object-fit: cover;
}
.pre-footer-image3 {
  width: 107px;
  height: 107px;
  object-fit: cover;
}





@media(max-width: 1200px) {
  .pre-footer-container {
    padding-top: 107px;
    padding-bottom: 95px;
  }
  .pre-footer-container2 {
    gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .pre-footer-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .pre-footer-container1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pre-footer-container3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .pre-footer-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .pre-footer-text {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
  }
  .pre-footer-text1 {
    font-size: 14px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 181.4%;
  }
  .pre-footer-container1 {
    margin-top: var(--dl-space-space-twounits);
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .pre-footer-container2 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .pre-footer-text2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
  }
  .pre-footer-image {
    width: 69px;
    height: 69px;
  }
  .pre-footer-image1 {
    width: 106px;
    height: 64px;
  }
  .pre-footer-image2 {
    width: 70px;
    height: 60px;
  }
  .pre-footer-image3 {
    width: 81px;
    height: 75px;
  }
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #374957;
}
.footer-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.footer-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 23, 42, 0.5);
}
.footer-container03 {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 104px;
  flex-direction: column;
  padding-bottom: 54px;
  justify-content: center;
}
.footer-text {
  color: #ffffff;
  width: 100%;
  font-size: 56px;
  max-width: 1013px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 70px;
}
.footer-text01 {
  fill: #BBBBBB;
  color: #BBBBBB;
  width: 100%;
  font-size: 24px;
  max-width: 890px;
  font-style: normal;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  line-height: 40px;
}
.footer-button {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: 22px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  padding-top: 20px;
  border-width: 0px;
  padding-left: 70px;
  border-radius: 10px;
  padding-right: 70px;
  padding-bottom: 20px;
  background-color: #CC9281;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 50px;
  justify-content: center;
}
.footer-container05 {
  gap: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container06 {
  gap: 78px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer-container07 {
  gap: 26px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 207px;
  height: 152px;
  object-fit: cover;
}
.footer-text02 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 392px;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 40px;
}
.footer-container08 {
  gap: 16px;
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text03 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-container09 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text04 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 69px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text05 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 69px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-text06 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 98px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-text07 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 98px;
  font-size: 22px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 70px;
}
.footer-container10 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text08 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-text09 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 160px;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text10 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: 160px;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text13 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
.footer-text14 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: auto;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-text17 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  width: auto;
  height: 59px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}
.footer-container12 {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-container13 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container14 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.footer-container15 {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}
.footer-text21 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.5%;
}
.footer-text22 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1.5%;
}







@media(max-width: 1200px) {
  .footer-container04 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .footer-container06 {
    gap: var(--dl-space-space-threeunits);
  }
  .footer-container08 {
    width: auto;
  }
  .footer-container09 {
    width: auto;
  }
  .footer-container10 {
    width: auto;
  }
  .footer-container12 {
    width: auto;
  }
}
@media(max-width: 991px) {
  .footer-container03 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .footer-text {
    font-size: 40px;
  }
  .footer-text01 {
    font-size: 20px;
  }
  .footer-container06 {
    flex-wrap: wrap;
  }
  .footer-container15 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer-text21 {
    font-size: 16px;
  }
  .footer-text22 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .footer-container03 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
  }
  .footer-text01 {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 181.4%;
  }
}

.testimonials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonials-container1 {
  gap: 112px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 80px;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 110px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
