.card2-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  min-width: 396px;
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.12);
  min-height: 706px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.card2-image {
  width: 100%;
  height: 283px;
  object-fit: cover;
}
.card2-container1 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 427px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.card2-text {
  width: 100%;
  font-size: 26px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 30px;
}
.card2-text1 {
  width: 100%;
  height: 100%;
  font-size: 24px;
  max-width: 340px;
  font-style: normal;
  min-height: 300px;
  text-align: left;
  font-family: "Inter";
  font-weight: 500;
  line-height: 40px;
}



@media(max-width: 1200px) {
  .card2-container {
    width: 350px;
    height: auto;
    max-width: 396px;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.12);
    min-height: 706px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dl-color-base-white);
  }
  .card2-image {
    width: 100%;
    height: 283px;
  }
  .card2-container1 {
    gap: 32px;
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .card2-text {
    width: 100%;
    font-size: 26px;
    font-style: normal;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 30px;
  }
  .card2-text1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-style: normal;
    min-height: auto;
    font-family: Inter;
    font-weight: 500;
    line-height: 36px;
  }
  .card2-root-class-name1 {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 991px) {
  .card2-container {
    width: auto;
  }
}
@media(max-width: 767px) {
  .card2-container {
    width: 317px;
    height: 394px;
    min-width: auto;
    min-height: 394px;
  }
  .card2-image {
    height: 214px;
  }
  .card2-container1 {
    gap: 6px;
    min-height: auto;
  }
  .card2-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .card2-text1 {
    height: auto;
    font-size: 12px;
    font-family: Poppins;
    line-height: 178.3%;
  }
}
@media(max-width: 479px) {
  .card2-container {
    background-color: var(--dl-color-base-white);
  }
  .card2-root-class-name1 {
    margin-top: 0px;
  }
}
