.nav-bar-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-navbar-interactive {
  width: 100%;
  height: 177px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.nav-bar-container1 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav-bar-container2 {
  gap: 30px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-image {
  width: 116px;
  height: 90px;
  object-fit: cover;
}
.nav-bar-image1 {
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.nav-bar-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 26px;
  font-family: "HighmanTrial-Regular";
}
.nav-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav-bar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-text01 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
}
.nav-bar-text02 {
  fill: #CC9282;
  color: rgb(204, 146, 130);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text03 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text04 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text07 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text08 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-text09 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.nav-bar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-bar-login {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 20px;
  padding-top: 20px;
  border-color: var(--dl-color-base-white);
  border-width: 1px;
  margin-right: 0px;
  padding-left: 29px;
  border-radius: 10px;
  padding-right: 29px;
  padding-bottom: 20px;
  background-color: transparent;
}
.nav-bar-burger-menu {
  display: none;
}
.nav-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nav-bar-logo {
  height: 2rem;
}
.nav-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-bar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.nav-bar-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}


@media(max-width: 1200px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .nav-bar-desktop-menu {
    display: none;
  }
  .nav-bar-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .nav-bar-image {
    width: 61px;
    height: 46px;
  }
  .nav-bar-image1 {
    width: 42px;
    height: 42px;
  }
  .nav-bar-text {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .nav-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-bar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .nav-bar-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nav-bar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .nav-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .nav-bar-mobile-menu {
    padding: 16px;
  }
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-container1 {
  gap: 142px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 51px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.header-text {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 72px;
  max-width: 1024px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 88px;
}
.header-text1 {
  fill: var(--dl-color-base-white);
  color: var(--dl-color-base-white);
  font-size: 27px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
}








@media(max-width: 991px) {
  .header-text {
    font-size: 50px;
  }
}
@media(max-width: 479px) {
  .header-container1 {
    gap: 80px;
  }
  .header-text {
    font-size: 26px;
  }
  .header-text1 {
    font-size: 14px;
  }
}
