.leader-right-container {
  gap: var(--dl-space-space-fourunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.leader-right-container1 {
  gap: 50px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leader-right-container2 {
  flex: 1;
  width: 50%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #CC9282;
}
.leader-right-text {
  fill: #CC9282;
  color: #CC9282;
  font-size: 32px;
  font-style: normal;
  text-align: right;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -2%;
}
.leader-right-container3 {
  flex: 1;
  width: 50%;
  height: 2px;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #CC9282;
}
.leader-right-container4 {
  gap: var(--dl-space-space-fourunits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.leader-right-image {
  width: 500px;
  height: 672px;
  display: none;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 55px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.leader-right-container5 {
  gap: 35px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 55px;
}
.leader-right-text1 {
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -2%;
}
.leader-right-text2 {
  font-size: 22px;
  max-width: 664px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -2%;
}
.leader-right-image1 {
  height: 672px;
  max-width: 500px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 55px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



@media(max-width: 1200px) {
  .leader-right-container {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .leader-right-container4 {
    gap: 0;
    width: 100%;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
  }
  .leader-right-container5 {
    width: 50%;
  }
  .leader-right-text2 {
    width: 100%;
  }
  .leader-right-image1 {
    width: 50%;
    max-width: 500px;
  }
}
@media(max-width: 991px) {
  .leader-right-container {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .leader-right-container1 {
    gap: 30px;
  }
  .leader-right-text {
    font-size: 20px;
  }
  .leader-right-container3 {
    display: flex;
  }
  .leader-right-container4 {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .leader-right-image {
    width: 100%;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .leader-right-container5 {
    width: 100%;
  }
  .leader-right-text2 {
    width: 100%;
    max-width: 100%;
  }
  .leader-right-image1 {
    width: 100%;
    display: none;
    border-top-right-radius: 55px;
  }
}
@media(max-width: 767px) {
  .leader-right-container1 {
    gap: 10px;
  }
}
@media(max-width: 479px) {
  .leader-right-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .leader-right-container1 {
    gap: 10px;
  }
  .leader-right-text {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
  }
  .leader-right-container4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .leader-right-image {
    height: 302px;
  }
  .leader-right-text1 {
    font-size: 22px;
  }
  .leader-right-text2 {
    font-size: 12px;
    line-height: 178%;
  }
  .leader-right-image1 {
    height: 302px;
  }
}
